<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sentiment Analysis Tool</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&family=Philosopher&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
            <div id="logo">
                <p>SAT</p>
            </div>
            <div id="nav">
                <p>A project for Udacity</p>
            </div>
        </header>

        <main>
            <section id="user">
                <form class="flex-form" onsubmit="return Client.handleSubmit(event)">
                    <div id="title"><h1>Sentiment<br> Analysis Tool</h1></div>
                    <input id="url" type="text" name="input" value="" placeholder="https://">
                    <div id="error"><p>Please enter a valid URL</p></div>
                    <input id="cta" type="submit" name="" value="Go!" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>

            <section id="dinamic">
                <div id="image">
                    <img src="https://blush.design/api/download?shareUri=kVOVV6Etc&w=800&h=800&fm=png" alt="funny faces">
                </div>
                <h2><strong>Results...</strong></h2>
                <div id="results">
                    <div id="polarity" class="form_res"></div>
                    <div id="confidence" class="form_res"></div>
                    <div id="subjectivity" class="form_res"></div>
                </div>    
            </section>
        </main>

        <footer>
            <p>Powered by Meaningcloud</p>
        </footer>
        <script>
            if ('serviceWorker' in navigator) {
              window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
              });
            }
        </script>
    </body>
</html>
